body {
    background-color:#121313;
    color:#8d8d8d;
    font-family:Impact, "Courier New";
    
    font-size:100%;
    padding-left:200px;
}
h1:first-of-type {
    display:flex;
    justify-content: center;
}

.intro {
    
}

.intro img:first-of-type {
    max-width:450px;
    max-height:450px;
    display:flex;
    justify-content:center;
}

.intro p {
display:flex;
justify-content:center;
text-align:center;
margin:50px;
max-width:600px;
}

.left {
    width:20%;
    float:left;
}
.nav {
    position:fixed;
    height:100%;
    z-index:1;
    top:0;
    left:0;
    margin:0;
    padding:0;
    overflow-x:hidden;
    transition:0.5s;
    list-style:none;
    background-color:#111;
    padding-top:60px;
    margin:auto;
}

.nav li {
    margin:1px 0;
    border:1px solid #999;
}
.nav li a {
    display:block;
    line-height:3em;
    width:100%;
    text-decoration:none;
    padding:8px 8px 8px 32px;
    display:block;
    transition:0.3s;
}

.nav li a:hover {
    color:aquamarine;
}